<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

<Properties>
	<Property name="basepath">${sys:user.dir}/logs</Property>
</Properties>


    <!-- Define the appenders -->
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        
        <!-- File Appender -->
        <RollingFile name="File" fileName="${basepath}/automation.log" FilePattern="${basepath}/automation-%d{yyyy-MM-dd}.log">
        	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        	 <policies>
        	  <SizeBasedTriggeringPolicy size="5000" />
        	 </policies>
        </RollingFile>
        
    </Appenders>
    
    <!-- Define the loggers -->
    <Loggers>
        <!-- Root Logger -->
        <Root level="Debug">
            <!--AppenderRef ref="Console" /> -->
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
    
</Configuration>